@using Bookstore.Models
@model UserModel
@{
    ViewBag.Title = "Register";
    ViewBag.Education = new SelectList(Education.List, "Value", "Text");
    ViewBag.Hobbies = new MultiSelectList(Hobbies.List, "Value", "Text");
    Layout = "~/Views/Shared/_Main-layout.cshtml";
}

<article class="col-md-8">
    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-control" }))
    {
        <div class="form-group">
            @Html.LabelFor(Model => Model.Username)
            @Html.TextBoxFor(Model => Model.Username, null, new { @class = "form-control", @placeholder = "Please enter username" })
            @Html.ValidationMessageFor(Model => Model.Username)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Password)
            @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Please enter password" })
            @Html.ValidationMessageFor(Model => Model.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Name)
            @Html.TextBoxFor(Model => Model.Name, null, new { @class = "form-control", @placeholder = "Please enter name" })
            @Html.ValidationMessageFor(Model => Model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Surname)
            @Html.TextBoxFor(Model => Model.Surname, null, new { @class = "form-control", @placeholder = "Please enter surname" })
            @Html.ValidationMessageFor(Model => Model.Surname)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Email)
            @Html.TextBoxFor(Model => Model.Email, null, new { @class = "form-control", @placeholder = "example@address.org", @type = "email" })
            @Html.ValidationMessageFor(Model => Model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Hobbies)
            @Html.ListBoxFor(Model => Model.Hobbies, (IEnumerable<SelectListItem>)ViewBag.Hobbies, new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.Hobbies)
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Education)
            @Html.DropDownListFor(Model => Model.Education, (IEnumerable<SelectListItem>)ViewBag.Education, new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.Education)
        </div>

        <button type="submit" class="btn btn-default">Register</button>
    }
</article>
<aside class="col-md-4">
    @Html.ValidationSummary()
</aside>
